<html>

  <!-- <head> -->
    <!-- Bootstrap styles -->
  <!--   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.3.2/cyborg/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->


    <!-- Custom styles -->
    <link rel="stylesheet" href="main.css"/>

    <!-- Include jQuery -->

    <!--<script src="https://ajax.googleapis.com/ajax/
libs/jquery/1.11.2/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->


    <!-- Custom scripts -->
    <script src="player.js"></script>
    <script src="main.js"></script>
  </head>

  <body>
    <div class="container">

    <h1 class="page-header">JukeBox
      <!-- Play button -->
      <button id="play-button" class="btn btn-lg btn-primary">Play All</button>
    </h1>
    <div class="well" id="nowplaying">Enter a song to play</div>



      <!-- Song queue -->
      <ul id="song-queue"></ul>

      <!-- Song form -->
      <form id='song-form'>
        <div class="col-sm-12">
          <input name="song_name" class="form-control" type="text" placeholder="Enter song name (optional)"></input>
        </div>
        <div class="col-sm-12">
          <input name="notes" class="form-control" type="text" placeholder="Enter song notes..."></input>
        </div>
        <div class="col-sm-12" style="margin-bottom:10px">
          <input class="btn btn-default" type="submit" value="Enqueue Song"></input>
        </div>
      </form>

      <hr style="width:100%;margin-top:75px;">
   

      <div class="row">
        <div class="col-sm-8">
          <strong style="font-size:20px;padding-left:20px">How to use:</strong>
            <ul> 
              <li>
              <span style="font-size:15px"><strong>To play one Song:</strong></span>
                <ul>
                  <li>Click <em>Play Single Song</em> </li>
                  <li>Enter song notes, for example:</li>
                      <ol>
                        <li>A B*2 C D A*4 D E*2 F A B A A*2</li>
                        <li>C F*4 C F*4 B C D A*2 B*2 A B*2 C</li>
                      </ol>

                </ul>
              </li>
              <li> 
              <span style="font-size:15px"><strong>Play Many Songs (Add to Song Queue)</strong></span>
              <ul>
                <li>Add a song name, and corresponding song notes</li>
                <li>Click <em>Enqueue Song</em> (You can hover over the added songs to see their corresponding notes)</li>
                <li>Add as many as you want, then click <strong><em>Play All</em></strong> OR just press spacebar</li>
              </ul>



              </li>
  
           </ul>
        </div>
        <div class="col-sm-4">
          <button id="single-play-button" class="btn btn-primary" style="float:right">Play Single Song</button>
        </div>
      </div>

    </div>
  </body>

</html>