<head>
  
  <!--<script src="jquerylib.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
  </script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  </link>
  <link href="style.css" rel="stylesheet"></link>
  <script src="jaavz.js"></script>
  <script src="howitworks.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap2/bootstrap-switch.css" rel="stylesheet"></link>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.js"></script>
  <script src="switch.js"></script>
  <link href="switch.css" rel="stylesheet"></link>
  <script src="submitform.js"></script>
  -->

</head>





<body>
  <div style="margin-left:20px;text-align:center">
    <span><h3 style="display:inline-block;font-weight:100;font-size:45px;margin-top:2px;">Password Strength Widget</h3>   
    <span class="label label-primary" id="howitworks" data-toggle="popover" data-trigger="hover" style="cursor:pointer">?
    </span><br>
       <p style='letter-spacing:2px';>Note: Make sure you dont choose passwords like <a href="http://www.cnn.com/2012/10/25/tech/web/worst-passwords-2012/">these ones</a></p>
       <hr>
       <span>
        <span style="font-size:20px">Show Password</span>
        <input id="bootstrap_state" type="checkbox">
      </span>
  </div>

  <!-- <span style="margin-left:110px;background-color:blue;color:white;display:inline-block;display:none", id="howitworksdiv">Hello
  </span> -->

  <div class="background">
    <div class="container" style="height:350px">
      <header>
        <h1>Login</h1>
      </header>

      <form style="padding-top:15px" id="submit_form">
        <input type="text" placeholder="Email" class="textbox" style="margin-bottom:5px;" />
        <input type="password" id="password_field" placeholder="Password" class="textbox" />

        <div id="pass_strength" style="display:none">
          <span style="float:left">Password Strength:</span>
          <span id="pass_status" style="float:right">Terrible</span>
          <input class="textbox progress-bar-danger" id="bootstrap_bar" style="height:2px;"></input>
        </div>

        <input type="submit" value="Enter" class="button" />
      </form>
      
        <!-- <img class="email" src="email.png"> -->
        <%=image_tag 'envelope.png', class: "email", style: "margin-top:-50px"%>
        <%=image_tag 'password.png', class: "password", style:"margin-top:-65px;left:10px"%>
        <!-- <img class="email" src="envelope.png" style="margin-top:-50px;"> -->
        <!-- <img class="password" src="password.png" style="left:10px;margin-top:-65px"> -->
      
    </div>
     <!-- show password text and button -->
    
  </div>
</body>

<!-- http://www.cnn.com/2012/10/25/tech/web/worst-passwords-2012/ -->


