<div class="heading">Categories</div>

<div class="row">

  <div class="left-side">
      
      <div class="logo"></div>

  </div>

  <div class="tagged_blog_posts right-side">

    <ul class="tag_list">

      <% @tags.each do |tag| %>
        
        <li class="tag"><%= tag.name %><span class="chevron right"></span></li>

      <% end %>
    </ul>

  </div>
</div>
