    <!-- <div class="center top" style="overflow:hidden;height:100vh"> -->
        <div id="myname", class="center top" style="font-weight:100;letter-spacing:20px;height:100vh;color:black">

            <div id="main_content" style="position:relative;top:25%">
                <span class="homepage-name">tabish khan</span><br>
                <!-- <span id="myposition">Full Stack Web Developer</span> -->
            
                <div style="font-size:20px;">
                    <span>
                        <strong><a href="https://github.com/tkhan003" style="text-decoration:none;">GITHUB</a></strong>
                    </span>|
                    <span>
                        <strong><a href="https://www.linkedin.com/in/ifullstack" style="text-decoration:none;">LINKEDIN</a></strong>
                    </span>|
                    <span>
                        <strong id="projectref"><a href="/projects" id ="mainproj_div">PROJECTS</a></strong>
                    </span>
                </div>


                <div style="font-size: 20px; border-top: 1px solid black; margin-top:20px;letter-spacing: 1px;padding-top:15px;">
                   <a href='/blogs' style="text-decoration: none;font-size: 30px;">BLOG</a>
                   <a href="/allblogposts" style="font-size: 15px;text-decoration: none;" >Categories</a> 
                </div>

            </div>
            <!-- <span>Projects</span> -->
        </div>


    </div>


    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74494643-1', 'auto');
  ga('send', 'pageview');

</script>

    



 







   








