
 <div id="sidebaricon"> &#9776;
    </div>

    <div class="center top">
    <div id="myname">
    <strong>Tabish Khan</strong></div>
    <a href="https://github.com/tkhan003"><i class="fa fa-github-square fa-5x link"></i>
<a href="https://ca.linkedin.com/in/ifullstack"><i class="fa fa-linkedin-square fa-5x link"></i><hr>
</div>
    <div id="mycompany">
      #iFullStack™</div>
    
    </div>

    <div class="color">
    <div class="center contact">


    </div>
   







