    <!-- <div class="center top" style="overflow:hidden;height:100vh"> -->
        <div id="myname", class="center top" style="background-color:black;font-weight:100;letter-spacing:20px;height:100vh;">

            <div id="main_content" style="position:relative;top:25%">
                <span style="border:1px solid white;padding:2px 20px 2px 30px;">Tabish Khan</span><br>
                <!-- <span id="myposition">Full Stack Web Developer</span> -->
            
                <div style="font-size:20px;">
                    <span>
                        <strong><a href="https://github.com/tkhan003" style="text-decoration:none;">GITHUB</a></strong>
                    </span>|
                    <span>
                        <strong><a href="https://www.linkedin.com/in/ifullstack" style="text-decoration:none;">LINKEDIN</a></strong>
                    </span>|
                    <span>
                        <strong id="projectref"><a id ="mainproj_div" href="#projects" style="text-decoration:none;transition:1s">PROJECTS</a></strong>
                    </span>
                </div>

            </div>
            <!-- <span>Projects</span> -->
        </div>

    <div id="mainproj_bottom">
        <div class="container">

        <div id="mainproj_div" style="height:200px;padding-top:70px;font-size:55px;font-weight:100">
            <span style="letter-spacing:5px;border:1px solid black;padding:10px 30px 10px 30px;">Projects
            <span style="font-weight:200;font-size:20px;color:gray">things i've made</span>
            </span>
            <!-- <span style="letter-spacing:5px;border:1px solid black;padding:10px 30px 10px 30px">Projects</span> -->
        </div>
    </div>
        <hr>


        <div id="projectsdiv">
            <%= render 'projects' %>
        </div>


    <div id="mainproj_bottom">
        <div class="container">

        <div id="mainproj_div" style="height:200px;padding-top:70px;font-size:55px;font-weight:100">
            <span style="letter-spacing:5px;border:1px solid black;padding:10px 30px 10px 30px;">Mini-Projects
            <span style="font-weight:200;font-size:20px;color:gray">some other things i've made</span>
            </span>
            <!-- <span style="letter-spacing:5px;border:1px solid black;padding:10px 30px 10px 30px">Projects</span> -->
        </div>
    </div>
        <hr>

        <div>
            <%= render 'projectstwo' %>
        </div>


        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; iFullStack 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>


    </div>

    



 







   








