
 <div id="sidebaricon"> &#9776;
</div>

    <div class="center top">
        <div id="myname">
            <strong>Tabish Khan</strong><hr>
        </div> 
        <div id="contactme">
            <a href="https://github.com/tkhan003"><i class="fa fa-github-square fa-2x link"></i>
            <a href="https://ca.linkedin.com/in/ifullstack"><i class="fa fa-linkedin-square fa-2x link"></i><hr>
         </div>
        <div id="mycompany">
         #iFullStack™
        </div>
    </div>

    <div class="color">
    <!-- <div class="center contact"> -->


    </div>
   







