<%#=link_to "Download as pdf", "/data/tabish-resume.pdf"%>

<div class="container resumemain">

  <!-- header -->
  <div class="row resumeheader">
   
    <div class="col-md-8">
        <div id="whoami">
          <p id="name"> TABISH KHAN </p>
          <p id="position"> Full Stack Web DEVELOPER </p>
        </div>
    </div>

    <div class="col-md-4">
      <div id="contact">
          <i class="fa fa-phone"></i>&nbsp;&nbsp;604.614.6909<br>
          <i class="fa fa-envelope-o"></i>&nbsp;&nbsp;tkhn003@gmail.com<br>
          <i class="fa fa-globe"></i>&nbsp;&nbsp;www.i-fullstack.com
      </div>
    </div>
   
  </div><hr>

  <!-- body -->
  <div class="row">
      <div class="col-md-6">
          <div class="objective">
                  <p class="resumesubheader"> Objective</p>
                  <p class="resumesectionbody">
                  A full stack web developer with extensive education, and intensive experience in the world of computer science. Looking for a full stack Ruby on Rails Developer position within a thriving environment.</p>
          </div>


           <div class="education">  
            <p class="resumesubheader">Education</i></p>

              <div class="row">
                  <div class="col-md-3">
                      2009-2014
                  </div>
                  <div class="col-md-9">
                      BSc. Computer Science, Life Sciences (Combined Major)<br>
                      <em>University Of British Columbia</em>
                  </div>
            </div><br>
            <!-- <div class="row">
                <div class="col-md-3">
                    Jan 2015-Mar 2015
                </div>
                <div class="col-md-9">
                  <em>CodeCode Developer Bootcamp</em> - 
                  Many of the practical skills I possess come from or have been refined from my experience here.
                  <br>
                  </div>
            </div> -->
          </div>


          <div class="experience">
          <p class="resumesubheader">Experience</p>

           <div class="row">
                          <div class="col-md-3">
                              Mar 2015 - July 2015
                          </div>
                          <div class="col-md-9 resumesectionbody">
                            <strong>Ruby on Rails Developer</strong><br>
                            <em>Champ Technologies Inc.</em><br>
                            "Online marketplace connecting homeowners with home service professionals" - worked here in a team of two developers on the 'Champ Manager' Web Application. Tasks included implementing Ruby on Rails backend (including AJAX, polymorphic associations)features, RSPEC testing, working with JSON data,  Javascript, and  learning/working with React JS.
                            <br><hr>
                          </div>
                    </div>
                     <div class="row">
                          <div class="col-md-3">
                              Jan 2015-Mar 2015
                          </div>
                          <div class="col-md-9 resumesectionbody">
                              <strong>CodeCore Ruby on Rails Developer Bootcamp</strong><br>
                              <!-- <em>i-fullstack.com</em><br> -->
                              Many of the practical skills I possess come from or have been refined from my experience here - including things like GIT VC and Heroku App Deployment.
                            <hr>
                          </div>  
                    </div>
                    <div class="row">
                          <div class="col-md-3">
                             Mar 2012 – Mar 2015
                          </div>
                          <div class="col-md-9 resumesectionbody">
                              <strong>Paladin Security</strong><br>
                              <em>Health Care Security Officer</em>  <br> 
                              Worked at Richmond General Hospital, in a team of 3 security officers. Aggrivated, or inappropriatly acting patients and visitors often caused high pressure situations requiring on the spot thinking and quick action. 
                          </div> 
                    </div>
          </div>
      </div>


<div class="col-md-6">
            <div class="projects">
                <p class="resumesubheader">Projects</p>
                <strong> CodeCoreQ </strong><em>  (codecoreq.herokuapp.com) </em><br>
                A collaborative group project consisting of 11 developers.
                Users are asked a series of coding questions to test their programming ability. Frontend developed with HTML, SASS and jQuery. Backend developed using Ruby on Rails<hr>
                <strong> MMDB</strong><em> (mymusicdb.herokuapp.com) </em><br>
                Allows users to search though millions of songs (via third-party API), and select and save their favourite songs into their own collections. Backend developed with Ruby on Rails. Front End developed using HTML, CSS, Jquery, Javascript<hr>
                <strong> TwitterWordCloud </strong><em> (github.com/tkhan003/TWITTER_WORD_CLOUD)</em><br>
                A simple app which displays a word cloud based on your most used words within your personal tweets, as well as your twitter home feed. The more time a word is used, the larger it appears in the cloud.
                <em>NOTE: Many of the my other projects/code can be viewed at my Github page.
                </em>
            </div>

      <!-- <div class="row"> -->
        <!-- <div class="col-md-6"> -->
          <div class="professional_skills">
              <p class="resumesubheader">Professional Skills</p>
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-8">
                      Ruby on Rails<br>
                    </div>
                    <div class="col-md-4">
                      ✺✺✺✺
                    </div>
                  </div>
                   <div class="row">
                    <div class="col-md-8">
                      Javascript<br>
                    </div>
                    <div class="col-md-4">
                      ✺✺✺
                    </div>
                  </div>
                   <div class="row">
                    <div class="col-md-8">
                      HTML&CSS<br>
                    </div>
                    <div class="col-md-4">
                      ✺✺✺✺
                    </div>
                  </div>
                   <div class="row">
                    <div class="col-md-8">
                      REACT JS <br>
                    </div>
                    <div class="col-md-4">
                      ︎✺✺
                    </div>
                  </div>
                   <div class="row">
                    <div class="col-md-8">
                      SQL <br>
                    </div>
                    <div class="col-md-4">
                      ︎✺✺✺
                    </div>
                  </div>
                   <div class="row">
                    <div class="col-md-8">
                      RSPEC  <br>
                    </div>
                    <div class="col-md-4">
                      ︎✺✺✺
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">
                      Java <br>
                    </div>
                    <div class="col-md-4">
                      ︎✺✺
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-8">
                      Git VC <br>
                    </div>
                    <div class="col-md-4">
                      ︎✺✺✺✺
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">
                      Bash <br>
                    </div>
                    <div class="col-md-4">
                      ︎✺✺✺✺
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">
                      Heroku  <br>
                    </div>
                    <div class="col-md-4">
                      ︎✺✺✺✺
                    </div>
                  </div>
                   <div class="row">
                    <div class="col-md-8">
                      Amazon EC2<br>
                    </div>
                    <div class="col-md-4">
                      ︎✺✺
                    </div>
                  </div>
                </div>
              </div>

          </div>
        <!-- </div> -->

        <!-- <div class="col-md-6"> -->
        <br>
          <div class="personal_skills">
            <p class="resumesubheader">Personal Skills</p>

                 
                <div class="row">
                    <div class="col-md-8">
                      Self Driven <br>
                    </div>
                    <div class="col-md-4">
                      ︎✺✺✺✺✺
                    </div>
                  </div>
                <div class="row">
                    <div class="col-md-8">
                      Communication <br>
                    </div>
                    <div class="col-md-4">
                      ︎✺✺✺✺
                    </div>
                  </div>
                 <div class="row">
                    <div class="col-md-8">
                      Problem Solver <br>
                    </div>
                    <div class="col-md-4">
                      ✺✺✺✺
                    </div>
                  </div>
                <div class="row">
                    <div class="col-md-8">
                      Analytical <br>
                    </div>
                    <div class="col-md-4">
                      ︎✺✺✺✺
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">
                      Inquisitive <br>
                    </div>
                    <div class="col-md-4">
                      ︎✺✺✺✺✺
                    </div>
                  </div>
                  Practical - This resume is made entirely out of HTML&CSS
          </div>
      <!-- </div> -->
    </div>


</div>


<div class="center references">
<em>References Available Upon Request</em>
</div>


      </div>



</div>



