<%#=link_to "Download as pdf", "/data/tabish-resume.pdf"%>

<div class="container resumemain" style="height:11.5in">

  <!-- header -->
  <div class="row resumeheader">
   
    <div class="col-md-8">
        <div id="whoami">
          <p id="name"> TABISH KHAN </p>
          <p id="position"> Full Stack Web DEVELOPER </p>
        </div>
    </div>

    <div class="col-md-4">
      <div id="contact">
          <i class="fa fa-phone"></i>&nbsp;&nbsp;604.614.6909<br>
          <i class="fa fa-envelope-o"></i>&nbsp;&nbsp;tkhn003@gmail.com<br>
          <i class="fa fa-globe"></i>&nbsp;&nbsp;www.i-fullstack.com
      </div>
    </div>
   
  </div><hr>

  <!-- body -->
  <div class="row">
      <div class="col-md-6">
          <div class="objective">
                  <p class="resumesubheader"> Objective</p>
                  <p class="resumesectionbody">
                  A full stack web developer with extensive education, and intensive experience in the world of computer science. Looking for a full stack Ruby on Rails Developer position within a thriving environment.</p>
          </div>


           <div class="education">  
            <p class="resumesubheader">Education</i></p>

              <div class="row">
                  <div class="col-md-3">
                      2009-2014
                  </div>
                  <div class="col-md-9">
                      BSc. Computer Science, Life Sciences (Combined Major)<br>
                      <em>University Of British Columbia</em>
                  </div>
            </div><br>
            <div class="row">
                <div class="col-md-3">
                    Jan 2015-Mar 2015
                </div>
                <div class="col-md-9">
                  <em>CodeCode Developer Bootcamp</em> - 
                  Many of the practical skills I possess come from or have been refined from my experience here.
                  <br>
                  </div>
            </div>
          </div>


          <div class="experience">
          <p class="resumesubheader">Experience</p>

           <div class="row">
                          <div class="col-md-3">
                              Mar 2015 - July 2015
                          </div>
                          <div class="col-md-9 resumesectionbody">
                            <strong>Ruby on Rails Developer</strong><br>
                            <em>Champ Technologies Inc.</em><br>
                            <em>findachamp.com</em> "Online marketplace connecting homeowners with home service professionals" - worked here in a team of two developers on 'Champ Manager' Web Application. Tasks included working with Ruby on Rails, RSPEC testing, JSON data, and  learning/working with React JS.
                            <br><br>
                          </div>
                    </div>
                     <div class="row">
                          <div class="col-md-3">
                              Mar 2015
                          </div>
                          <div class="col-md-9 resumesectionbody">
                              <strong>Real Geeks</strong><br>
                              (Programming Project)</em><br>
                              <em>realgeeks.com</em> Implemented various features in a simplified CRM application for a company formerly known as "Real Geeks" based in Hawaii. Specific features can be viewed on my GitHub page.
                            <br><br>
                          </div>  
                    </div>
                    <div class="row">
                          <div class="col-md-3">
                             Mar 2012 – Mar 2015
                          </div>
                          <div class="col-md-9 resumesectionbody">
                              <strong>Paladin Security</strong><br>
                              <em>Health Care Security Officer</em>  <br> 
                              Worked at Richmond General Hospital, in a team of 3 security officers. Aggrivated, or inappropriatly acting patients and visitors often caused high pressure situations requiring on the spot thinking and quick action. 
                          </div> 
                    </div>
          </div>
      </div>


<div class="col-md-6">
            <div class="projects">
                <p class="resumesubheader">Projects - github.com/tkhan003</p>
                <strong> CodeCoreQ </strong><em>  (codecoreq.herokuapp.com) </em><br>
                A collaborative group project consisting of 11 developers.
                Users are asked a series of coding questions to test their programming ability. Frontend developed with HTML, SASS and jQuery. Backend developed using Ruby on Rails<hr>
                <strong> pic10</strong> <em></em>(pic10.herokuapp.com)<br>
                Social Media Application - Users can private message, and share statuses, or images with their friends. Includes self referential, inverse associations, standard table inheritance, AJAX, with lots of DOM Manipulation <hr>
                <strong> CodeCore Alumni </strong> <em>(Current Project - <br>code-core-alumini.herokuapp.com)<br></em>
                Site I am  developing for CodeCore Bootcamp. Allows users to create profiles and showcase their skills to potential employers. Built with Rails, Javascript, HTML,CSS.  <hr>
                <!-- <strong> MMDB</strong><em> (mymusicdb.herokuapp.com) </em><br>
                Allows users to search though millions of songs (via third-party API), and select and save their favourite songs into their own collections. Backend developed with Ruby on Rails. Front End developed using HTML, CSS, Jquery, Javascript<hr> -->
            </div><br>

      <!-- <div class="row"> -->
        <!-- <div class="col-md-6"> -->
          <div class="professional_skills">
              <p class="resumesubheader">Professional Skills</p>
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-8">
                      Ruby on Rails<br>
                    </div>
                    <div class="col-md-4">
                      ✺✺✺
                    </div>
                  </div>
                   <div class="row">
                    <div class="col-md-8">
                      Javascript/jQuery<br>
                    </div>
                    <div class="col-md-4">
                      ✺✺✺
                    </div>
                  </div>
                   <div class="row">
                    <div class="col-md-8">
                      HTML&CSS<br>
                    </div>
                    <div class="col-md-4">
                      ✺✺✺✺
                    </div>
                  </div>
                   <div class="row">
                    <div class="col-md-8">
                      React JS <br>
                    </div>
                    <div class="col-md-4">
                      ︎✺✺
                    </div>
                  </div>
                   <div class="row">
                    <div class="col-md-8">
                      PostgreSQL <br>
                    </div>
                    <div class="col-md-4">
                      ︎✺✺✺
                    </div>
                  </div>
                   <div class="row">
                    <div class="col-md-8">
                      RSPEC  <br>
                    </div>
                    <div class="col-md-4">
                      ︎✺✺✺
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-8">
                      Git VC <br>
                    </div>
                    <div class="col-md-4">
                      ︎✺✺✺
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">
                      Bash <br>
                    </div>
                    <div class="col-md-4">
                      ︎✺✺✺✺
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">
                      Heroku  <br>
                    </div>
                    <div class="col-md-4">
                      ︎✺✺✺
                    </div>
                  </div>
                   <div class="row">
                    <div class="col-md-8">
                      Bootstrap<br>
                    </div>
                    <div class="col-md-4">
                      ︎✺✺✺✺
                    </div>
                  </div>
                </div>
              </div>

          </div>
        <!-- </div> -->

        <!-- <div class="col-md-6"> -->
        <br>
          <div class="personal_skills">
            <p class="resumesubheader">Personal Skills</p>

                 
                <div class="row">
                    <div class="col-md-8">
                      Self Driven <br>
                    </div>
                    <div class="col-md-4">
                      ︎✺✺✺✺✺
                    </div>
                  </div>
                <div class="row">
                    <div class="col-md-8">
                      Communication <br>
                    </div>
                    <div class="col-md-4">
                      ︎✺✺✺✺
                    </div>
                  </div>
                 <div class="row">
                    <div class="col-md-8">
                      Problem Solver <br>
                    </div>
                    <div class="col-md-4">
                      ✺✺✺✺
                    </div>
                  </div>
               <!--  <div class="row">
                    <div class="col-md-8">
                      Analytical <br>
                    </div>
                    <div class="col-md-4">
                      ︎✺✺✺✺
                    </div>
                  </div> -->
                  <div class="row">
                    <div class="col-md-8">
                      Inquisitive <br>
                    </div>
                    <div class="col-md-4">
                      ︎✺✺✺✺✺
                    </div>
                  </div><br>
                  Practical - This resume is made entirely out of HTML&CSS
          </div>
      <!-- </div> -->
    </div>


</div>


<div class="center references">
<em>References Available Upon Request</em>
</div>


      </div>



</div>



