<%=link_to "Download as pdf"%>

<div class="container resumemain">

  <!-- header -->
  <div class="row resumeheader">
    <div class="col-md-2">
    </div>
    <div class="col-md-6">
        <div id="whoami">
          <p id="name"> TABISH KHAN </p>
          <p id="position"> Full Stack Web DEVELOPER </p>
        </div>
    </div>

    <div class="col-md-4">
      <div id="contact">
          <i class="fa fa-phone"></i>&nbsp;&nbsp;604.614.6909<br>
          <i class="fa fa-envelope-o"></i>&nbsp;&nbsp;tkhn003@gmail.com<br>
          <i class="fa fa-globe"></i>&nbsp;&nbsp;www.i-fullstack.com
      </div>
    </div>
   
  </div><hr>

  <!-- body -->
  <div class="row">
      <div class="col-md-6">
          <div class="objective">
                  <p class="resumesubheader"> Objective</p>
                  A full stack web developer with extensive education, and intensive experience in the world of computer science. Looking for a full stack Ruby on Rails Developer position within a thriving environment.
          </div>


           <div class="education">  
            <p class="resumesubheader">Education</p>

              <div class="row">
                  <div class="col-md-2">
                      2009-2014
                  </div>
                  <div class="col-md-10">
                      BSc. Computer Science, Life Sciences (Combined Major)<br>
                      <em>University Of British Columbia</em>
                  </div>
            </div>
          </div>


          <div class="experience">
          <p class="resumesubheader">Experience</p>
                    <div class="row">
                          <div class="col-md-2">
                              Mar 2014-Present(1 year)
                          </div>
                          <div class="col-md-10">
                              <strong>Web Developer</strong><br>
                              <em>i-fullstack.com</em><br>
                              I have about one year experience in web development. This includes working with PHP and Amazons EC2 Service in the past, and more recently Ruby on Rails.<br>
                          </div>  
                    </div>
                      <div class="row">
                          <div class="col-md-2">
                                Present
                          </div>
                          <div class="col-md-10">
                            <strong>Real Geeks</strong><br>
                            <em>Ruby on Rails Developer</em><br>
                            I have been working on a Lead Manager Application for a company called Real Geeks in HW. This work includes implementing certain features that have been handed down to me.
                            <br> 
                          </div>
                    </div>
                    <div class="row">
                          <div class="col-md-2">
                                Jan 2015-Mar 2015
                          </div>
                          <div class="col-md-10">
                            <strong>CodeCore Bootcamp</strong><br>
                            A 2 month intensive bootcamp designed to teach all necessary skills for building web apps. Many of the practical skills I pocessed come or have been refined from my experince here.
                            <br> 
                          </div>
                    </div>
                    <div class="row">
                          <div class="col-md-2">
                             2013 – Present
                          </div>
                          <div class="col-md-10">
                              <strong>Paladin Security</strong><br>
                              <em>Health Care Security Officer</em>  <br> 
                              Ensure Nursing Staff, and Patient Safety. Work in a team of 3 officers. Aggrivated, or inappropriate patients, and visitors to hospitals may cause high pressure situations requiring on the spot thinking and quick action.
                          </div> 
                    </div>
          </div>
      </div>


<div class="col-md-6">
            <div class="projects">
                <p class="resumesubheader">Projects</p>
                <strong> CodeCoreQ</strong><br>
                <em> https://codecoreq.herokuapp.com/ </em><br>
                worked in a group of 11 members
                A collaborative group project where the user is asked a series of coding questions to test their programming ability.
                Frontend developed with HTML, SASS and jQuery. Backend developed using Ruby on Rails<br>
                <strong> MMDB</strong><br>
                <em> https://mymusicdb.herokuapp.com/ </em><br>
                App I built which (using Rdio Api) allows users to search though millions of songs, and select and save their favourite songs into
                their own collections. Users can login using their Facebook or Twitter Accounts (OmniAuth)<br>
                <strong> Project Mangement Tool</strong><br>
                <em> http://pmtoolv2.herokuapp.com/ </em><br>
                Project Mangement App I made. <br>
                Many of the other projects ive worked on can be viewed at my GitHub page (can be accesed through my website at the top of this resume)
            </div>

      <div class="row">
        <div class="col-md-6">
          <div class="professional_skills">
              <p class="resumesubheader">Professional Skills</p>
                  <div class="row">
                    <div class="col-md-6">
                      Ruby on Rails<br>
                    </div>
                    <div class="col-md-6">
                      ✔︎✔︎✔︎✔︎
                    </div>
                  </div>
                   <div class="row">
                    <div class="col-md-6">
                      Javascript<br>
                    </div>
                    <div class="col-md-6">
                      ✔︎︎✔︎✔︎
                    </div>
                  </div>
                   <div class="row">
                    <div class="col-md-6">
                      HTML&CSS<br>
                    </div>
                    <div class="col-md-6">
                      ✔︎✔︎✔︎✔︎✔︎
                    </div>
                  </div>
                   <div class="row">
                    <div class="col-md-6">
                      PHP <br>
                    </div>
                    <div class="col-md-6">
                      ︎✔︎✔︎
                    </div>
                  </div>
                   <div class="row">
                    <div class="col-md-6">
                      C++ <br><br>
                    </div>
                    <div class="col-md-6">
                      ︎✔︎✔︎
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      Git Version Control <br>
                    </div>
                    <div class="col-md-6">
                      ︎✔︎✔︎✔︎✔︎
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      Linux Command Line <br>
                    </div>
                    <div class="col-md-6">
                      ︎✔︎✔︎✔︎✔︎
                    </div>
                  </div>

          </div>
        </div>

        <div class="col-md-6">
          <div class="personal_skills">
            <p class="resumesubheader">Personal<br>Skills</p>
                Motivated<br>
                Self Driven<br>
                Communication<br>
                Problem Solver<br>
                Analytical<br>
          </div>
      </div>
    </div>


</div>




      </div>




<div class="center">
<strong>References Available Upon Request</strong>
</div>


</div>



