<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>1 Col Portfolio - Start Bootstrap Template</title>


    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/89f2f44ba07ea3fff7e561c2142813b278c2d6c6/devicon.min.css">


  

</head>

<body>

   
    <div class="container" id="projects">

       

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <div class="projectimage">
                    
                    <%=image_tag 'codecorealumni', style: 'display:block;margin:auto;height:300px' %>
                <!-- <a href="#"> -->
                    <!-- <img class="img-responsive" src="http://placehold.it/700x300" alt=""> -->
                <!-- </a> -->
                </div>
            </div>
            <div class="col-md-5">
                <h3>CoreCore Alumni</h3>
                <h4>Site for you to connect with alumni from CodeCore Bootcamp</h4>
                <p>Ruby on Rails, Javascript, HML&CSS</p>
                <a class="btn btn-primary" href="https://code-core-alumini.herokuapp.com/">Live Demo <span class="glyphicon glyphicon-chevron-right"></span></a>
                <a class="btn btn-primary" href="https://github.com/tkhan003/CodeCore_alumni">Source Code <span class="glyphicon glyphicon-chevron-right"></span></a>
                    <br><br>

                 <span style="color:red"><i class="fa fa-signal fa-2x"></i>
                 In progress</span>

            </div>


        </div>

        <!-- /.row -->

        <hr>       
    </div>
  


