
            <div class="container" id="projects">
<!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <div class="projectimage">
                    
                    <img id="project_actual_image" style="height:300px;display:block;margin:auto;"class="img-responsive" src="
                    https://raw.githubusercontent.com/tkhan003/Password-Strength-Widget/master/password_strength.png" 
                    alt="password_strength">
                </div>
            </div>
            <div class="col-md-5">
                <h3>Password Stength Checker</h3>
                <h4>Javascript Widget</h4>
                <p>Checks the stength of your password. Styled using HTML&CSS. JQuery/Javascript used for making responsive.</p>
                <a class="btn btn-primary" href="http://i-full-stack.herokuapp.com//password_checker">Live Demo <span class="glyphicon glyphicon-chevron-right"></span></a>
                <a class="btn btn-primary" href="                https://github.com/tkhan003/Password-Strength-Widget
">Source Code <span class="glyphicon glyphicon-chevron-right"></span></a>
                
                <hr>
                <i style="font-size:20px;" class="devicon-javascript-plain" data-toggle="tooltip" data-placement="bottom" title="Javascript" ></i>&nbsp;
                <i style="font-size:20px;" class="devicon-bootstrap-plain" data-toggle="tooltip"  data-placement="bottom" title="Bootstrap" ></i>
                <!-- <i style="font-size:30px;color:#2E6DA4" class="devicon-html5-plain"></i> -->
                <!-- <i style="font-size:30px;color:#2E6DA4" class="devicon-css3-plain"></i> -->


            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                <div>
                    <img class="img-responsive" src="https://raw.githubusercontent.com/tkhan003/chattr-js-chat-app/master/chattr-app.gif" alt="chattr" height="300" width="700">
                </div>
            </div>
            <div class="col-md-5">
                <h3>Chattr</h3>
                <h4>Chatting Application</h4>
                <p>Chat with your friends online! Development consisted of Ruby on Rails for backend and Javascript/jQuery for responsiveness and for AJAX purposes. </p>
                <a class="btn btn-primary" href="http://chattr-chatapp.herokuapp.com">Live Demo <span class="glyphicon glyphicon-chevron-right"></span></a>
                <a class="btn btn-primary" 
                href="https://github.com/tkhan003/chattr-js-chat-app">Source Code <span class="glyphicon glyphicon-chevron-right"></span></a>

                <hr>
                <i style="font-size:20px;" class="devicon-javascript-plain" data-toggle="tooltip" data-placement="bottom" title="Javascript" ></i>&nbsp;
                <i style="font-size:20px;" class="devicon-rails-plain-wordmark" data-toggle="tooltip"  data-placement="bottom" title="Rails" ></i>
            </div>
        </div>
        <!-- /.row -->

        <!-- <hr> -->
       

        <hr>

    </div>