// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#blog{
  // background-color:gray;
}

.blog_post_body{
  text-align:justify;
  letter-spacing: 1px;
  line-height:200%;
  font-size:15px;
}

.blog_post_body p{
  margin-bottom: 20px;
}


.headingandsubheading{
  border:1px solid;
  padding-left:10px;
  text-align: center;
}

.headingandsubheading:hover{
  box-shadow: inset 0 0 0 5px #3071A9;
}