// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#blog{
  // background-color:gray;
}

img {
  display: block;
  max-width: 100%;
}

img[alt="DJ KHALED"] {
  height: 190px;
}

img[alt="NBAHANDSHAKE"] {
  width: 510px;
}

// #blog-heading {
//   box-shadow: 0 8px 8px 0px rgba(0, 0, 0, 0.3)
// }

.blog_post_body{
  text-align:justify;
  letter-spacing: 1px;
  line-height:200%;
  font-size:15px;
}

.blog_post_body p {
  margin-bottom: 20px;
}

.blogdate {
  font-weight:100;
  font-size: 20px;
  padding-left: 20px;
}

.headingandsubheading {
  padding-left:10px;
  padding-top:0px;
  padding:20px;
  color:black;
  font-family: 'Indie Flower', cursive;
}

.allblogs {
  margin-top: 80px;
}

.allblogtags {
  padding-left: 20px;
}

.blogtag {
  text-transform: uppercase;
  background: lightgray;
  color: white;
  padding: 3px 7px;
  font-weight: bold;
}

.blogtag:hover {
  text-decoration: none;
  background: #23527c;
  color: white;
}

.headingandsubheading > h1 {
  font-size: 80px;
}

.allblogslink {
  font-family: Lato;
  font-size: 24px;
  padding-left: 20px;
}

.headingandsubheading > h4 {
  font-weight: 100;
  font-size: 35px;
}

.blog_main {
  padding-bottom: 20px;
  position: relative;
}

.blog_main:hover {
    box-shadow: 0 8px 8px 0px rgba(0, 0, 0, 0.3);
}

// .headingandsubheading:hover{
//   box-shadow: inset 0 0 0 5px #3071A9;
// }

// FACE BOOK RECENT ARTICLES FEATURE
.blog-sidebar {
  height: 100%;
  background: #E9EAED;
  position: fixed;
  top: 364px;
  right: 0px;
  width: 255px;
}

.change-display {
  top: 0px;
} 

.blog-header {
  text-align:center;
  height:300px;
  padding-top:75px;
}

.filterappliedheading {
  color: #337ab7;
  position: absolute;
  top: 240px;
  text-transform: uppercase;
}

.headingandsubheading > h1 {
  font-weight: 200;
}

.add-box-shadow {
  box-shadow: 0 8px 8px 0px rgba(0, 0, 0, 0.3)
}

.technical-post {
  color:red;
  margin: 0px auto;
  text-align: center;
  transform: rotate(-12deg);
  border: 3px solid red;
  display: inline-block;
  margin: 10px 28px;
  padding: 0px 5px;
  font-family: Arial;
  text-transform: uppercase;
}

.next-and-prev-container {
    text-align: center;
    font-size: 35px;
    font-weight: 100;
}

.next-and-prev-container a {
  text-decoration: none !important;
}

.next-and-prev-container a:hover {
  font-weight: 400;
}

.back-to-all-blogs {
  font-size: 23px;
  font-weight: 400;
}

.back-to-all-blogs a {
  text-decoration: none !important;
}

.next-container, 
.prev-container {
  display: inline-block;
}