// dependencies______________________________________
@import "bootstrap-sprockets";
@import "bootstrap";

.center{
  text-align: center;
  }

.sidebar{
  width:500px;
  height:100vh;
  position:absolute;
  background-color: black;
  color:white;
  // left:-600px;
  left:-500px;
  // overflow: scroll;
  top:0px;
  transition: all 0.3s;
 }


.color{
  background-color: blue;
  width:100vw;
  height:100vh;
}
  .sidebarover{
    left:0px;
    }

     .wrapper{
    transition: all 0.3s;
 }


  .wrapperover{
    margin-left: 500px;

  }
