// dependencies______________________________________
@import "bootstrap-sprockets";
@import "bootstrap";




// welcome page ______________________________________
#sidebar{
  width:500px;
  height:100vh;
  position:absolute;
  background-color: black;
  color:white;
  right:-600px;
  top:0px;
 }
 
#sidebaricon{
  font-size: 45px;
  color:white;
  position:absolute;
  top:0;
  right:10px;
  height:45px;
  width:45px;
}
 .center{
  text-align: center;
   }
