//welcome page___________________________________________

body{
    background: {
    image: asset_url('blue.jpg');
    }
}

 #mainheader{
  color:white;
  font-size: 200px;
  width:1500px;
  height:250px;
  position:absolute;
  margin:auto;
  top: 0; left: 0; bottom: 0; right: 0;
 }

#sidebaricon{
  font-size: 45px;
  color:white;
  float:right;
  margin-right: 10px;

}
