//welcome page___________________________________________

// body{
//     background: {
//     image: asset_url('blue.jpg');
//     }
// }


body{
  overflow: hidden;

}
 #mainheader{
  color:white;
  font-size: 200px;
  font-weight:900;
  width:1500px;
  height:250px;
  position:absolute;
  margin:auto;
  top: 0; left: 0; bottom: 0; right: 0;
  border: 1px, solid, white;
  
 }

#sidebaricon{
  font-size: 45px;
  color:white;
  // float:right;
  margin-right: 10px;
  cursor: pointer;
  background-color: #141F3D;
  width: 100%;
  padding-left: 15px;
}
