<div class="sidebar">

  <ul class="sidebar-list">
    <li>
      <a style="margin-left:0px;text-decoration:none;" href="/">Home</a>
    </li>
    <li>
      <a href="/blogs">Blog</a>
    </li>
    <li>
      <a href="/projects">Projects</a>
    </li>
  </ul>
  
</div>

    <!-- <li> <i class="fa fa-user fa-2x fa-fw aboutme"></i>About Me </li> -->
  <!-- <li> <i class="fa fa-laptop fa-2x fa-fw"></i>My Projects</li>  -->
  <!-- <li> <i class="fa fa-pencil fa-2x fa-fw"></i>Skills </li>  -->
<!-- <li><i class="fa fa-graduation-cap fa-2x fa-fw"></i>My Education</li> -->
<!-- <li><a href="/resume"><i class="fa fa-file fa-2x fa-fw"></i> </a> Resume</li> -->