<!DOCTYPE html>
<html>
<head>
  <title>tabish</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
</head>
<body>

  <div id="sidebaricon">
    
    <span id="togglebutton">
      &#9776; MENU
    </span>

  </div>
    <!-- <div id="mycompany"> -->
    <span style="float:right;font-size:20px;font-weight:100;padding-top:10px;padding-right:10px;">
      iFullStack™
    </span>
    <!-- </div> -->
  
  

  <div class="wrapper">
    <%= yield %>
  </div>


  

<div class="sidebar">
<span class="close-sidebar">X</span>
<ul class="sidebar-list">
  <li>
    <a style="margin-left:0px;text-decoration:none;" href="/">
    Home
    </a>
  </li>
  <li>
    <a href="/blogs">
      Blog
    </a>
  </li>

  <!-- <li> <i class="fa fa-user fa-2x fa-fw aboutme"></i>About Me </li> -->
  <!-- <li> <i class="fa fa-laptop fa-2x fa-fw"></i>My Projects</li>  -->
  <!-- <li> <i class="fa fa-pencil fa-2x fa-fw"></i>Skills </li>  -->
<!-- <li><i class="fa fa-graduation-cap fa-2x fa-fw"></i>My Education</li> -->
<!-- <li><a href="/resume"><i class="fa fa-file fa-2x fa-fw"></i> </a> Resume</li> -->

</ul>

</div>
  
 
</body>




</html>
