<!DOCTYPE html>
<html>
<head>
<%#= stylesheet_link_tag    'static_pages', media: 'all', 'data-turbolinks-track' => true %>
 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%=stylesheet_link_tag 'static_pages'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>

<body>

  
  
    <%= yield %>


  
 
</body>




</html>
